* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

@font-face {
  font-family: yekan;
  src: url("./asses/Yekan.ttf");
}

.Header {
  height: 40px;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  z-index: 5555;
}

.Header .right {
  width: 40%;
  direction: rtl;
  background: none;
  height: 40px;
  display: flex;
}

.Header .right a {
  padding: 7px 15px;
  margin: 0px 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: fit-content;
}

.Header .right .home-btn {
  color: black;
  border: 2px solid #0070f3;
  transition: .5s ease all;
}

.Header .right .home-btn:hover {
  background: #0070f3;
  color: #faf6f6;
}

.Header .right .home-btn:hover svg {
  fill: #faf6f6;
}

.Header .right .blog-btn {
  color: #faf6f6;
  background: #0070f3;
  transition: .5s ease all;
}

.Header .right .blog-btn:hover {
  background: #0070f3;
  box-shadow: rgba(0, 118, 255, 0.39) 0px 2px 6px 0px;
}

.Header .right .blog-btn svg {
  fill: #faf6f6;
}

.Header .right svg {
  height: 20px;
  transition: .5s ease all;
  margin-right: 8px;
}

.Header .left {
  width: 60%;
  height: 100%;
}

.Header .left h4 {
  color: #0070f3;
  font-size: 25px;
  direction: rtl;
  position: absolute;
  left: 15px;
  top: 3px;
}

.wrapper {
  position: absolute;
  top: 300px;
  overflow: hidden;
  left: 50%;
  transform: translatex(-50%);
  width: 80%;
  height: 200vh;
  background: #faf6f6;
  border-radius: 10px;
  border: 2px #e7e3e3 solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper .blob {
  position: absolute;
  left: -70px;
  height: 200px;
  width: 200px;
  top: -70px;
}

.wrapper .card1 {
  overflow: hidden;
  font-family: yekan, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
  width: 80%;
  height: fit-content;
  padding: 2.5rem;
  margin-top: 100px;
  background: none;
  border: 1px #e7e3e3 solid;
  box-shadow: rgba(250, 246, 246, 0.39) 0px 2px 6px 0px;
}

.wrapper .card1 .blob {
  position: absolute;
  left: -110px;
  height: 200px;
  width: 200px;
  top: 85%;
}

.wrapper .card1 .left {
  max-width: 30%;
}

.wrapper .card1 .left img {
  height: 150px;
}

.wrapper .card1 .right {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.wrapper .card1 .right h1 {
  padding: 10px 0;
  font-size: 42px;
  color: #111;
}

.wrapper .card1 .right .__bottom {
  margin-top: 250px;
}

.wrapper .card1 .right .__bottom h1 span {
  font-size: inherit;
}

.wrapper .card1 .right .__bottom span {
  color: #0070f3;
  font-size: 17px;
}

.wrapper .card1 .right .__bottom p {
  color: #111;
  font-size: 17px;
}

.card2 {
  overflow: hidden;
  font-family: yekan, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  direction: rtl;
  width: 80%;
  height: fit-content;
  padding: 2.5rem;
  margin-top: 100px;
  border: 1px #e7e3e3 solid;
  box-shadow: rgba(250, 246, 246, 0.39) 0px 2px 6px 0px;
}

.card2 .top img {
  height: 170px;
}
/*# sourceMappingURL=style.css.map */