* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}
$font-fa: yekan ,Arial, Helvetica, sans-serif;
$blue:rgb(0, 112, 243);
$bg-white:rgb(250,246,246);
$border-white:rgb(231, 227, 227) solid;
$blue-shadow:  rgba(0, 118, 255, 0.39) 0px 2px 6px 0px;
@font-face{
    font-family: yekan ;
    src: url('./asses/Yekan.ttf');
}
 .Header {
    height: 40px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    z-index: 5555;
    .right {
        width: 40%;
        direction: rtl;
        background: none;
        height: 40px;
        display: flex;
        a {
            padding: 7px 15px;
            margin: 0px 10px;
            border-radius: 4px;
            text-decoration: none;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            align-items: center;
            flex-direction: row;
            width: fit-content;
        }
        .home-btn {
            color: black;
            border: 2px solid $blue;
            transition: .5s ease all;
            &:hover {
                background: $blue;
                color: $bg-white;
                svg {
                    fill: $bg-white;
                }
            }
        }
        .blog-btn {
            color: $bg-white;
            background: $blue;
            transition: .5s ease all;
            &:hover {
                background: $blue;
                box-shadow: $blue-shadow;
            }
            svg {
                fill: $bg-white;
            }
        }
        svg {
            height: 20px;
            transition: .5s ease all;
            margin-right: 8px;
        }
    }
    .left {
        width: 60%;
        height: 100%;
        h4 {
            color: $blue;
            font-size: 25px;
            direction: rtl;
            position: absolute;
            left: 15px;
            top: 3px;
        }
    }
}
.wrapper{
    .blob{position: absolute; left: -70px; height: 200px; width: 200px; top: -70px;}
    position: absolute;
    top: 300px;
    overflow: hidden;
    left: 50%;
    transform: translatex(-50%);
    width: 80%;
    height: 200vh;
    background: rgb(250, 246, 246);
    border-radius: 10px;
    border: 2px $border-white;
    display: flex;
    align-items: center;
    flex-direction: column;
    .card{
        .left{
            max-width: 30%;
            img{
                        height: 150px;
               }
             }
        font-family: $font-fa;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            direction: rtl;
            width: 80%;
            height: fit-content;
            margin-top: 100px;
            background: none;

            .right{
                max-width: 70%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                h1{
                    padding: 10px 0;
                    font-size: 42px;
                }
                .__bottom{
                    margin-top: 250px;
                    span{
                        color:$blue;
                    }
                    p{
                        color: #111 ;

                       
                    }
                }
            }
            
         
  
     }
}
