* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

@font-face {
  font-family: yekan;
  src: url("./asses/Yekan.ttf");
}

.footer {
  background: #faf6f6;
  box-shadow: rgba(0, 118, 255, 0.39) 0px 2px 6px 0px;
  border-radius: 5px;
  border: 2px #e7e3e3 solid;
  color: #111111;
  height: 100px;
  font-family: yekan, Arial, Helvetica, sans-serif;
  font-size: 22px;
  width: 80%;
  margin: 30px 0px;
  z-index: 222222222;
  left: 0;
  bottom: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.Header {
  height: 40px;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  z-index: 5555;
  font-family: yekan, Arial, Helvetica, sans-serif;
}

.Header .right {
  width: 40%;
  direction: rtl;
  background: none;
  height: 40px;
  display: flex;
}

.Header .right a {
  padding: 7px 15px;
  margin: 0px 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  font-family: yekan, Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: fit-content;
}

.Header .right .home-btn {
  color: black;
  border: 2px solid #0070f3;
  transition: .5s ease all;
}

.Header .right .home-btn:hover {
  background: #0070f3;
  color: #faf6f6;
}

.Header .right .home-btn:hover svg {
  fill: #faf6f6;
}

.Header .right .blog-btn {
  color: #faf6f6;
  background: #0070f3;
  transition: .5s ease all;
}

.Header .right .blog-btn:hover {
  background: #0070f3;
  box-shadow: rgba(0, 118, 255, 0.39) 0px 2px 6px 0px;
}

.Header .right .blog-btn svg {
  fill: #faf6f6;
}

.Header .right svg {
  height: 20px;
  transition: .5s ease all;
  margin-right: 8px;
}

.Header .left {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Header .left .logo {
  height: 60px;
  margin: 0 20px;
}

.Hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  /*  .blink{color: rgb(121, 20, 223);
        animation: blink  .1s ease infinite alternate;
    }
    @keyframes blink {
        to{color: $blue;}
    } */
}

.Hero .rec {
  position: absolute;
  transform: rotate(180deg);
}

.Hero .rec1 {
  top: -450px;
  right: -400px;
  z-index: 2000;
}

.Hero .rec2 {
  top: -400px;
  right: -400px;
}

.Hero .bottom {
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.Hero .bottom .wave {
  width: 100%;
  height: 100%;
}

.Hero .hero-text {
  position: absolute;
  top: 30%;
  word-break: keep-all;
  left: 50%;
  text-align: center;
  transform: translatex(-50%);
  direction: rtl;
  user-select: none;
  font-family: yekan, Arial, Helvetica, sans-serif;
}

.Hero .hero-text h1 {
  font-size: 72px;
}

.Hero .hero-text p {
  font-size: 25px;
}

.Hero .hero-text h1, .Hero .hero-text p, .Hero .hero-text span {
  background-image: linear-gradient(40deg, #27c6f7, #0e8bdf, #0163f5);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.wrapper {
  position: absolute;
  top: 100vh;
  overflow: hidden;
  left: 50%;
  transform: translatex(-50%);
  width: 80%;
  height: fit-content;
  background: #faf6f6;
  border-radius: 10px;
  border: 2px #e7e3e3 solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper .blob {
  position: absolute;
  left: -70px;
  height: 200px;
  width: 200px;
  top: -70px;
}

.card1 {
  overflow: hidden;
  font-family: yekan, Arial, Helvetica, sans-serif;
  direction: rtl;
  width: 100%;
  height: fit-content;
  padding: 2.5rem;
  margin-top: 100px;
  background: none;
  box-shadow: rgba(250, 246, 246, 0.39) 0px 2px 6px 0px;
}

.card1 .space {
  height: 50px;
  background: none;
  width: 100%;
}

.card1:hover {
  box-shadow: rgba(0, 118, 255, 0.39) 0px 2px 6px 0px;
}

.card1 .blob {
  position: absolute;
  left: -110px;
  height: 200px;
  width: 200px;
  top: 85%;
}

.card1 span {
  color: #0070f3;
}

.card2 {
  overflow: hidden;
  font-family: yekan, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  direction: rtl;
  width: 80%;
  height: fit-content;
  padding: 2.5rem;
  margin-top: 100px;
  border: 3px #e7e3e3 solid;
  box-shadow: rgba(250, 246, 246, 0.39) 0px 2px 6px 0px;
}

.card2 .svg {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: -75px;
}

.card2:hover {
  box-shadow: rgba(0, 118, 255, 0.39) 0px 2px 6px 0px;
}

.card2 .top img {
  height: 170px;
}

.card2 .bottom {
  margin-top: 25px;
}

.card2 .bottom .space {
  width: 100%;
  background: none;
  height: 100px;
}

.card2 .bottom h3,
.card2 .bottom h1,
.card2 .bottom p {
  color: #111111;
}

.card2 .bottom h3 span {
  color: #0070f3;
}

.card2 .bottom div {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.card2 .bottom div h2 {
  margin-top: 30px;
  color: #0070f3;
}

.card2 .bottom div img {
  height: 300px;
}

.card2 .bottom div img:hover {
  box-shadow: rgba(250, 246, 246, 0.39) 0px 2px 6px 0px;
}

.card3 {
  overflow: hidden;
  font-family: yekan, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  direction: rtl;
  width: 80%;
  height: fit-content;
  padding: 2.5rem;
  margin-top: 100px;
  border: 3px #e7e3e3 solid;
  box-shadow: rgba(250, 246, 246, 0.39) 0px 2px 6px 0px;
}

.card3:hover {
  box-shadow: rgba(0, 118, 255, 0.39) 0px 2px 6px 0px;
}

.card3 .row {
  padding: 1rem;
  line-height: 22px;
}

.card3 .row p {
  color: #111111;
}

.card3 .row p span {
  color: #0070f3;
  margin: 0 5px;
}

.card3 .last-row h1 {
  color: #0070f3;
  text-align: center;
  padding: 2rem;
}
/*# sourceMappingURL=style.css.map */